.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 450px;
    width: 250px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }

.card-image{
    width: 100%;
    height: 300px;
    object-fit:cover;
  }