body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    grid-gap: 3rem;
    width: 100%;
    max-width: 960px; /* Adjust as needed */
    margin: auto;
    border: 3px solid rgba(0, 24, 62, 1);
    padding: 10px;
}

.background{
    background-color: rgba(0, 24, 62, 1);
}